.popup__items-title {
    font-family: 'HelveticaNeue', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    width: 330px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 540px) {
    .popup__items-title {
        font-size: 0.8rem;
        width: 100%;
    }
}